body {
  font-family: "Roboto Mono", monospace;
}

.navbar {
  background-color: #404eed;
  height: 76px;
  padding: 5px 20px;
}

.logo {
  height: 44px;
}

.series {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0 15px;
}

.title {
  font-size: 28px;
  font-weight: 500;
}

.clicker-img {
  max-width: 80%;
  height: auto;
}

button {
  height: 6vh;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #404eed;
  color: white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.w-90vw {
  width: 90vw;
}

/* time to organize */
.team-wrapper {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team-icon {
  position: relative;
  width: 77px;
  height: 77px;
  margin-bottom: 4px;
}

.team-name {
  font-size: 10px;
  font-weight: 700;
  display: block;
  width: 85%;
  text-align: center;
}

.clicker {
  position: absolute;
  right: 10px;
  top: 4px;
  background-color: white;
  border: solid 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.active {
  background-color: #404eed;
}

.frame {
  display: absolute;
  border: solid 2px;
  background: white;
  width: 77px;
  height: 77px;
  border-radius: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-40,
.gap-30,
.gap-80 {
  gap: 40px 0;
}

.mb-50,
.mb-75 {
  margin-bottom: 75px;
}

@media only screen and (min-width: 576px) {
  .title {
    font-size: 40px;
    font-weight: 500;
    margin: 20px;
  }

  .clicker {
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
  }

  .team-name {
    font-size: 15px;
  }

  .team-icon {
    width: 100px;
    height: 100px;
  }

  .frame {
    width: 100px;
    height: 100px;
  }

  .gap-30 {
    gap: 30px 0;
  }

  .mb-50 {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1266px) {
  .title {
    font-size: 64px;
    font-weight: 500;
  }

  .clicker {
    width: 20px;
    height: 20px;
    right: 10px;
    top: 15px;
  }

  .team-name {
    font-size: 15px;
  }

  .team-icon {
    width: 160px;
    height: 160px;
  }

  .frame {
    width: 160px;
    height: 160px;
  }

  .gap-80 {
    gap: 80px 0;
  }
}
