body {
  font-family: "Roboto Mono", monospace;
}

div.navbar {
  background-color: #404eed;
  height: 76px;
  padding: 5px 30px;
}

a {
  cursor: pointer;
}

img.logo {
  width: 24px;
}

p.series {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0 15px;
}

.nav-items {
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.nav-items > li {
  display: inline;
  margin: 0 30px;
}

.navbar-toggle {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  right: 0;
}

.title {
  color: #363636;
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0;
}

.title-img {
  width: 75px;
  height: 75px;
  margin: 20px 0;
}

.team-wrapper {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#teams {
  margin-bottom: 50px;
  gap: 20px 0;
}

.team-icon {
  display: block;
  position: relative;
  width: 77px;
  height: 77px;
  margin-bottom: 4px;
}

.clicker-img {
  max-height: 70%;
}

.team-name {
  font-size: 10px;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
}

.frame {
  border: solid 4px;
  background: white;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.games-selector {
  padding: 20px;
  gap: 20px;
  font-size: 20px;
}

.text-active {
  color: #404eed;
}

.standings-wrapper {
  border-bottom: 2px solid #bbb;
  border-left: none;
  border-right: none;
  align-items: center;
}

.standings-col-t {
  border-top: 2px solid #bbb;
}

.standings-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 10px 0 0;
}

.standings-img-frame {
  width: 18%;
}

.standings-num {
  color: #363636;
  font-size: 28px;
  margin: 0 15px 0 30px;
}

.double-digit {
  margin: 0 14px;
}

.standings-name {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.standings-wl {
  font-size: 20px;
  font-weight: 500;
}

.standings-wrapper > div:last-of-type {
  margin-left: auto;
  padding-right: 10px;
}

.clicker {
  position: absolute;
  right: 10px;
  top: 4px;
  background-color: white;
  border: solid 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.roster-list {
  gap: 5px;
  height: 800px;
  flex-direction: column;
}

.roster-card {
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  align-items: flex-end;
  flex-direction: row;
}

.roster-frame {
  position: relative;
  width: 100%;
  height: 87%;
  background: linear-gradient(#dccddf, #494949);
  border-radius: 20px;
}

.roster-role {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.roster-player-img {
  position: absolute;
  width: 158px;
  height: 145px;
  object-fit: cover;
  top: 3px;
  right: -25px;
  z-index: 2;
}

.roster-player-full-name {
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
  color: white;
  margin: 0;
}

.roster-player-nationality {
  position: absolute;
  bottom: 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 700;
  color: white;
  margin: 0;
  padding-left: 10px;
}

.roster-player {
  width: 45%;
  display: inline-block;
  padding-left: 10px;
}

.roster-player-name {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  font-size: 32px;
  color: white;
}

.schedule-banners {
  align-items: center;
  border-bottom: 2px solid #bbb;
  padding: 10px 20px;
}

.schedule-img {
  margin: 0 30px;
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.schedule-date {
  display: inline;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}

.versus {
  display: inline;
}

.match-row {
  align-items: center;
  justify-content: center;
}

.right-name,
.left-name {
  display: inline;
}

.active {
  background-color: #404eed;
}

#submit {
  height: 6vh;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #404eed;
  color: white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

#submit:hover {
  background-color: #3e4ce7;
}

#submit:active {
  transform: translateY(4px);
}

.hidden {
  display: none;
}

.desktop-only {
  display: none;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-flex-end {
  justify-content: flex-end;
}

.w-90vw {
  width: 90vw;
}

.m-0-auto {
  margin: 0 auto;
}

.ra {
  justify-content: right;
}

.menu-page {
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(200, 200, 200);
  padding-top: 20px;
}

.menu-buttons {
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.menu-buttons > li {
  margin-top: 20px;
}

@media only screen and (min-width: 576px) {
  .title {
    font-size: 40px;
    font-weight: 500;
  }

  .frame {
    width: 100px;
    height: 100px;
  }

  #teams {
    margin-bottom: 30px;
    gap: 30px 0;
  }

  .team-name {
    font-size: 15px;
  }

  .team-icon {
    width: 100px;
    height: 100px;
  }

  .clicker {
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
  }
}

@media only screen and (min-width: 1075px) {
  .roster-list {
    height: 69vh;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .roster-card {
    position: relative;
    border-radius: 0;
    height: 100%;
  }

  .roster-frame {
    position: static;
    height: 100%;
    border-radius: 0;
  }

  .roster-player {
    width: 100%;
    position: absolute;
    bottom: 10vh;
    z-index: 3;
  }

  .roster-player-nationality {
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    z-index: 3;
  }

  .overlay {
    position: absolute;
    background: linear-gradient(rgba(137, 137, 137, 0) 60%, rgb(121, 116, 122) 100%);
    width: 100%;
    height: 70%;
    top: 0%;
    z-index: 2;
  }

  .roster-player-img {
    width: 120%;
    height: 55%;
    object-fit: cover;
    bottom: 30%;
    z-index: 1;
  }

  .roster-role-div {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 25%;
    justify-content: center;
  }

  .roster-role {
    width: 100px;
    height: 100px;
  }

  .standings-img {
    max-width: 50%;
    margin: 0 10px 0 30px;
  }

  .title-img {
    margin-top: 20px;
    width: 155px;
    height: 155px;
  }

  .schedule-banners {
    padding: 10px 80px;
  }

  .standings-name {
    letter-spacing: 1px;
  }

  .schedule-img {
    width: 135px;
    height: 145px;
  }

  .schedule-date {
    font-size: 32px;
  }

  .right-name,
  .left-name {
    font-size: 24px;
    font-weight: 600;
  }

  #all-view,
  #liked-view {
    margin: 0 40px;
  }

  .p-100 {
    padding: 0 100px;
  }

  .desktop-only {
    display: inline;
  }

  .mt-50 {
    margin-top: 50px;
  }

  .title {
    margin: 40px 0;
  }

  .standings-col-lg-t {
    border-top: 2px solid #bbb;
  }

  .standings-wrapper {
    padding: 5px 70px;
  }

  .p-m-lr-20 {
    padding: 0 50px;
  }

  .w-95vw {
    width: 95vw;
  }

  .navbar-toggle {
    display: none;
  }
}

@media only screen and (min-width: 1266px) {
  button {
    font-size: 40px;
  }

  .title {
    font-size: 64px;
  }

  .frame {
    width: 160px;
    height: 160px;
  }

  .team-name {
    font-size: 20px;
  }

  .team-icon {
    width: 160px;
    height: 160px;
  }

  .clicker {
    width: 20px;
    height: 20px;
    right: 10px;
    top: 15px;
  }

  .mw-1500 {
    max-width: 1500px;
  }
}
